$sidebar-bg-color: #FBFDFF;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#ddd, 0.9);
$sidebar-color: #818894;
$highlight-color: #0D8A72;
$icon-bg-color: #fff;
$icon-size: 1rem;
$submenu-indent: 20px;
$light-color: #cdd5de;
$text-danger-color: #ef6454;
$base-color: #414D6A;

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
    font-family: 'Open Sans', sans-serif;
}

.divider {
    width: 1px;
    height: 56px;
    margin: 0;
    background-color: #09756B;
}

.divider2 {
    width: 100%;
    height: 1px;
    background-color: $light-color;
}

.divider3 {
    width: 1px;
    margin: 0;
    background-color: $light-color;
}

.icon {
    font-size: 1.25rem;

    &.large {
        font-size: 1.5rem;
    }
}

.caption {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
}

.caption-2 {
    font-size: .75rem;
    font-weight: 600;
    line-height: 1rem;
}

.subtitle {
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.subtitle-2 {
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.paragraph-2 {
    color: $base-color;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.label {
    color: $sidebar-color;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
}

.text-basic {
    color: $base-color;
}

.text-hint {
    color: $sidebar-color;
}

.text-danger {
    color: $text-danger-color !important;
}

.text-warning {
    color: #ffb94d;
}

.text-info {
    color: #189be3;
}

.text-disabled {
    color: rgba(143, 155, 179, 0.48);
}

.text-success {
    color: #37bc7f !important;
}

.bg-default {
    background-color: $sidebar-bg-color;
}

.bg-grey {
    background-color: #E7EDF4;
}

.bg-pink {
    background-color:#FEF3F2;
}

.size-xl-medium {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: .4375rem 1rem;
}

.appearance-filled {
    border-style: solid;
    border-width: .0625rem  ;
    text-transform: uppercase;

    &.size-xl-large {
        font-size: 1rem;
        line-height: 1.25rem;
        padding: .8125rem 1.125rem;
    }

    &.size-xl-medium {
        font-size: .875rem;
        line-height: 1rem;
        padding: .6875rem 1.125rem;
    }

    &.size-xl-small {
        font-size: .75rem;
        line-height: 1rem;
        padding: .4375rem .875rem;
    }

    &.size-xl-tiny {
        font-size: .625rem;
        line-height: .75rem;
        padding: .3125rem .625rem;
    }

    &.status-primary {
        background-color: #0D8A72;
        border-color: #0D8A72;
        color: $sidebar-bg-color;

        &:hover {
            background-color: #3BB894;
            border-color: #3BB894;
        }
    }

    &.status-control {
        background-color: $sidebar-bg-color;
        border-color: $sidebar-bg-color;
        color: $base-color;
    }

    &.status-control:hover {
        background-color: #f3f6f9;
        border-color: #f3f6f9;
    }
}

.appearance-outline {
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;

    &.size-xl-small {
        font-size: .75rem;
        line-height: 1rem;
        padding: .4375rem .875rem;
    }

    &.size-xl-medium {
        font-size: .875rem;
        line-height: 1rem;
        padding: .6875rem 1.125rem;
    }

    &.size-xl-tiny {
        font-size: .625rem;
        line-height: .75rem;
        padding: .3125rem .625rem;
    }

    &.status-danger {
        background-color: rgba(255, 61, 113, 0.08);;
        border-color: rgb(239 100 84);
        color: rgb(239 100 84);

        &:hover {
            background-color: rgba(255, 61, 113, 0.16);
            border-color: #ef6454;
            color: #ef6454;
        }
    }

    &.status-basic:hover {
        background-color: rgba(143, 155, 179, 0.16);
        border-color: #818894;
        color: #818894;
    }

    &.status-basic {
        background-color: rgba(143, 155, 179, 0.08);
        border-color: #818894;
        color: #818894;
    }

    &.status-primary {
        background-color: rgba(51, 102, 255, 0.08);
        border-color: #0D8A72;
        color: #0D8A72;

        &:hover {
            background-color: rgba(51, 102, 255, 0.16);
            border-color: #0D8A72;
            color: #0D8A72;
        }
    }
}

.appearance-ghost {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
        
    &.status-basic {
        border-color: transparent;
        background-color: transparent;
        color: #818894;

        &:hover {
            background-color: rgba(143, 155, 179, 0.08);
        }
    }

    &.size-xl-medium {
        font-size: .875rem;
        line-height: 1rem;
        padding: .6875rem 1.125rem;
    }

    &.size-medium {
        padding: .6875rem 1.125rem;
    }

    &.size-xl-small {
        font-size: .75rem;
        line-height: 1rem;
        padding: .4375rem .875rem;
    }
}

.shape-rectangle {
    border-radius: .25rem;
}

.status-basic {
    background-color: #f3f6f9;
    border-color: $light-color;
    color: $base-color;

    &:focus {
        border-color: $highlight-color;
    }

    &.appearance-filled {
        background-color: #e7edf4;
        border-color: #e7edf4;
        color:  $base-color;
    }
}

.transitions {
    transition-duration: 0.15s;
    transition-property: background-color,border-color,box-shadow,color;
    transition-timing-function: ease-in;
}

@media (min-width: 768px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }
}

/* Header */
.navbar {
    box-shadow: 0 .5rem 1rem 0 rgba(94, 105, 127, .1);
}

.navbar-brand {
    padding: 4px 25px;
    font-size: 1.375rem;
}

.navbar-nav, .nav-left {
    flex-grow: 1;
}

.nav-left, .nav-right {
    min-height: 56px;
}

.user-avatar {
    width: 46px;
    margin-left: 12px;
}

.user-info {
    margin-left: 2px;
}

.user-icon {
    padding: 0 10px;
    margin-left: 27px;
}

@media (max-width: 767px) {
    .user-info {
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0,0,0, .8);
        padding: 15px 15px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
    }

    .nav-right:hover .user-info {
        opacity: 1;
        visibility: visible;
    }

    .user-icon {
        margin-left: 0;
    }

    .navbar-brand {
        font-size: 1rem;
        padding: 0 10px;
    }
}

/* Sidebar */
.pro-sidebar {
    top: 56px;
    width: 256px;
    min-width: 256px;
    height: calc(100% - 56px);    
    z-index: 1009;
    transition: width, left, right, 0.3s;
    
    .pro-sidebar-inner {
        position: fixed;
        width: 256px;
        min-width: 256px;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    }

    &.collapsed {
        width: 93px;
        min-width: 93px;

        .pro-sidebar-inner {
            width: auto;
            min-width: auto;
        }

        .pro-menu > ul > .pro-menu-item {
            display: flex;
            height: 49px;
        }

        .pro-menu > ul > .pro-menu-item.active {
            border-left: 3px solid $highlight-color;
        }

        .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-item-content,
        .pro-menu > ul > .pro-menu-item > .pro-inner-item > .pro-item-content {
            display: none;
        }
    }

    .pro-menu .pro-menu-item > .pro-inner-item {
        padding: .75rem 1rem;
        font-size: .8125rem;
        font-weight: 600;
        line-height: 1.5rem;

        > .pro-icon-wrapper {
            font-size: 1rem;
        }
    }

    .pro-menu-item:not(:last-child) {
        border-bottom: 1px solid $light-color;
    }

    .pro-menu-item .pro-menu-item:first-child {
        border-top: 1px solid $light-color;
    }

    .pro-menu > ul > .pro-menu-item > .pro-inner-list-item > div > ul {
        padding: 0;
    }

    .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
        padding: 0.75rem 1rem;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .pro-menu .pro-menu-item.active {
        color: inherit;
    }

    .pro-menu-item .active > a,
    .pro-menu .pro-menu-item.pro-sub-menu.active > .pro-inner-item {
        color: $highlight-color;
    }

    .pro-arrow-wrapper {
        display: flex;
    }
}

.collapsed.pro-sidebar .pro-menu-item .pro-menu-item:first-child {
    border-top: none;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
    padding: 0 10px;
}

@media (max-width: 992px) {
    .pro-sidebar.lg.collapsed {
        left: -93px;
    }

    .pro-sidebar.lg {
        left: 0;
    }

    .pro-sidebar.lg .overlay {
        display: block;
    }

    .pro-sidebar.lg.toggled .overlay {
        display: none;
    }

    .pro-sidebar.lg.toggled {
        left: -270px;
    }
}